<!-- text-template -->
<script type="text/x-template" id="stars-component-template">
    <transition-group tag="div" name="zoom" class="stars-component" :style="{height:size+'px'}">
        <img class="star-icon" v-if="starCount>=1" :key="1" src="img/star_prize.svg" :style="{width:size+'px', height:size+'px'}" >
        <img class="star-icon" v-if="starCount>=2" :key="2" src="img/star_prize.svg" :style="{width:size+'px', height:size+'px'}" >
        <img class="star-icon" v-if="starCount>=3" :key="3" src="img/star_prize.svg" :style="{width:size+'px', height:size+'px'}" >
    </transition-group>
</script>
<script type="text/javascript">
Vue.component('stars', {
    template: '#stars-component-template',
    data: function(){
        return {
            starCount: 0
        }
    },
    props: { 
        stars: {
            type: Number,
            default: 0
        },
        animated: {
            type: Boolean,
            default: false
        },
        size: {
            type: Number,
            default: 20
        }
    },
    mounted:function(){
        console.log("stars-component mounted", this.size, this.stars);
        var self = this;
        this.showStars(this.stars)
    },
    methods: {
        showStars: function (stars) {
            var self = this
            if (this.animated) {
                self.starCount = -1
                var proc = setInterval(function(){
                    if (self.starCount>=stars){
                        clearTimeout(proc)
                        return
                    }
                    self.starCount++
                }, 200)
            } else {
                self.starCount = stars
            }
        }
    },
    watch:{
        size: function (val) {
            console.log('size', val)
        },
        stars: function (val) {
            console.log('stars', val)
            this.showStars(val)
        }
    },
    computed:{
        
    }
});
</script>
<style>
</style>
    