<!-- text-template -->
<script type="text/x-template" id="app-layout-template">
    <div class="app-layout" :style="{fontSize:size+'rem'}">
        <div class="app-header">
            <div class="app-toolbar">
                <div class="app-menu" @click="refresh()" v-if="canBack"><span class="material-icons">arrow_back</span></div>
                <div class="app-menu" v-if="menu">
                    <span class="material-icons" @click="showPlaylists()">menu</span>
                </div>
                <div class="app-title">Learning games</div>
                <div class="app-buttons">
                    <div class="app-menu" @click="restart()" v-if="canBack"><span class="material-icons">refresh</span></div>
                    <div @click="home()"><span class="material-icons">home</span></div>
                </div>
            </div>
        </div>
        <transition-group name="fade">
            <div is="app-content" v-if="mainSection" @status="status($event)" :appdata="appData" :section="mainSection" :level="level" ref="content" :key="current"></div>
            <div class="app-message" v-if="message" :key="message"><div >{{message}}</div></div>
            <div class="loading" v-if="loading" :key="loading"><img src="img/loading.png"></div>
        </transition-group>
        <div class="app-footer">{{baseUrl}}</div>
    </div>
</script>
<script type="text/javascript">

    var errorHandler=function(err){
        console.error(err);
        //alert(err);
    }
    window.addEventListener("error",errorHandler);
    Vue.config.errorHandler = errorHandler;
    
    Vue.component('app-layout', {
        template: '#app-layout-template',
        data: function(){
            return {
                size: 1.2,
                menu: false,
                level: 0,
                appData: {},
                currentStatus: '',
                current: 'home',
                baseUrl: 'data/',
                message: null,
                loading: false,
                mainSection: null
            }
        },
        props: { 
        },
        created:function(){
            var self = this
            window.addEventListener('hashchange', function(){
                self.loadHash()
            })
        },
        mounted:function(){
            window.app=this
            var self = this
            this.loadHash()
            var applayout=document.getElementById('applayout');
            applayout.addEventListener("scroll",function(ev){
                var scrollTop = applayout.scrollTop;
                var isScrolling = document.body.getAttribute("scrolling")==1;
                var limit=60;
                if (isScrolling){
                    limit=2;
                }
                if (scrollTop>limit){
                    document.body.setAttribute("scrolling",1);
                }else{
                    document.body.setAttribute("scrolling",0);
                }
            })
            var appData = localStorage.getItem('appdata')
            if (appData && itemData != '') {
                this.appData = JSON.parse(appData)
            }
        },
        methods: {
            showMessage: function(msg, timeout){
                clearTimeout(window.messageTimeout)
                this.message = msg;
                window.messageTimeout = setTimeout(function(self){
                    self.message = null
                }, 5000, this)
                this.$forceUpdate()
            },
            loadHash: function() {
                var id = document.location.hash.replace('#', '')
                if (id!=''){
                    if (id.startsWith("http")){
                        this.loadUrl(id)
                    } else {
                        this.load(id)
                    }
                } else {
                    this.load(this.current)
                }
            },
            status: function (status){
                if (status == 'finish') {
                    status = ''
                }
                this.currentStatus=status
            },
            home: function() {
                document.location="#home"
                this.currentStatus=''
                this.baseUrl="data/"
            },
            loadUrl: function(url) {
                var self = this
                this.loading = true
                loadData(url+"?"+(new Date()).getTime(), function(data){
                    self.mainSection = JSON.parse(data)
                    var urlParts = url.split("/")
                    urlParts.pop()
                    self.baseUrl = urlParts.join("/")+"/"
                    self.current = self.mainSection.id
                    self.level=0
                    self.loading = false
                }, function(err){
                    self.showMessage("Connection error")
                    self.loading = false
                })
            },
            load: function(id) {
                var self = this
                this.loadUrl(this.baseUrl+id+".json")
            },
            refresh: function () {
                this.$refs.content.menu()
                this.currentStatus=''
            },
            restart: function () {
                this.$refs.content.restart()
            }
        },
        computed:{
            canBack: function () {
                return this.current!='home' && this.currentStatus!=''
            }
        }
    });
</script>
<style>
.app-layout{
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.app-menu{
    padding-right: 8px;
    cursor: pointer;
}
.app-header{
    width: 100%;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: fixed;
    top: -2px;
    z-index: 10;
}
.app-toolbar{
    display: flex;
    line-height: 32px;
    padding: 8px 12px;
}
body[scrolling='1'] .player-top{
    padding-bottom: 4px;
}
.app-toolbar div{
    display: flex;
    align-items: center;
}
.app-toolbar .app-title{
    flex-basis: 50%;
    line-height: 1.4em;
    white-space: nowrap;
    overflow: hidden;
}
.app-buttons{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.app-buttons > div{
    margin-left: 12px;
    margin-right: 8px;
    cursor: pointer;
}
.app-message{
    position: fixed;
    left: 0;
    bottom: 10%;
    width: 100%;
    z-index: 10;
}
.app-message > div{
    margin: 0 auto;
    max-width: 640px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}
.app-message.visible{
    display: block;
}
.app-popup{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 20;
}
.app-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    font-size: 8px;
}
.close-popup{
    position: absolute;
    right: 12px;
    top: 12px;
    color: #fff;
}
.app-popup-content{
    background-color: #047;
    padding: 8px;
    width: 400px;
    height: 600px;
    max-width: 98vw;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}
*[inactive='true']{
    opacity: 0.4;
}
.material-icons{
    font-size: 1em;
}
.loading{
    top: 0;
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content:center;
    align-items: center;
}
.loading img{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(0deg); 
    } to { 
        -ms-transform: rotate(360deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(0deg); 
    } to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter{
  opacity: 0;
  font-size: 8px;
}
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  font-size: 8px;
  display: none;
}
@media (prefers-color-scheme: dark) {
    .app-layout{
        background-color: #333;
        color: #fff;
    }
}
@media (max-width:480px){
    .app-message{
        font-size: 0.9em;
    }
}
</style>
